.resume-item{
    width: calc(198px - 20px - 20px);
    padding: 20px;
    height: calc(243px - 20px - 20px);
    display: flex;
    flex-direction: column;
    
    gap: 5px;
    
    border: 1px  solid  rgb(228, 228, 228, 1);
    
    
    cursor: pointer;  
}

.resume-item-title{
    height: 20px;
    color: rgba(55, 55, 55, 1);

    font-size: 18px;
    font-weight: 600;
    line-height: 140%;
}

.resume-item-introduce{
    flex: 1;
    padding: 10px 0px;
    overflow: hidden;

    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
}

.resume-item-bottom-box{
    height: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
}



