#header{
    min-width: 1440px;
    padding: 20px 0;

    display: flex;
    justify-content: center;
    z-index: 999;

    
}

.header-container{
    width: 1200px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header-left-box{
    display: flex;
    align-items: center;
    gap: 10px;

    cursor: pointer;
}

.header-logo{
    color: rgba(0, 0, 0, 1);

    font-size: 20px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.4px;
}

.header-logo-white{
    color: rgba(255, 255, 255, 1);

    font-size: 20px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.4px;
}

.header-middle-box{
    display: flex;
    
    justify-content: center;
    align-items: center;
    gap: 50px;

}

.header-middle-navigation-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.header-middle-navigation-box div:hover{
    font-size: 20px;
    font-weight: 500;

    cursor: pointer;
}

.header-middle-navigation-divider{
    color: rgba(0, 0, 0, 0.4);

    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    
    cursor: default;

    pointer-events: none;
}

.header-middle-navigation-blog{
    color: rgba(0, 0, 0, 1);

    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
}

.header-middle-navigation-box{
    display: flex;
    gap: 100px;
}
.header-middle-navigation-main{
    color: rgba(255, 255, 255, 1);

    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
}


.header-right-box{
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-search-input-box{
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 43px;
    padding: 0 10px 0 12px;
    width: 223px;
    height: 30px;

    display: flex;
    align-items: center;
    gap: 5px;
}

.header-search-input{
    flex: 1;

    border: none;
    background: none;
    outline: none;

    color: rgba(0, 0, 0, 1);

    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
}

.mypage-button{
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 46px;
    width: 93px;
    height: 28px;
      
    display: flex;
    justify-content: center;
    align-items: center;
      
    background-color: rgba(255, 255, 255, 1);
      
    color: rgba(0, 0, 0, 0.5);
      
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
      
    cursor: pointer;
}

.mypage-button-main{
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 46px;
    width: 93px;
    height: 28px;
      
    display: flex;
    justify-content: center;
    align-items: center;
      
    background-color: rgba(55, 55, 55, 1);
      
    
      
    cursor: pointer;
}

.mypage-button-main-text{
    color: rgba(255, 255, 255, 1);
      
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
}
