#search-wrapper{
    padding: 40px 0px;

    min-height: 960px;
    display: flex;
    justify-content: center;
    
    background-color: rgba(0, 0, 0, 0.05);
    
}

.search-container{
    width: 1200px;
    min-width: 1200px;

    display: flex;
    flex-direction: column;
    align-items: center;
    

    gap: 20px;
}

.search-title-box{
    display: flex;
    gap: 8px;
}

.search-title{
    color: rgba(0, 0, 0, 0.7);

    font-size: 24px;
    font-weight: 400;
    line-height: 140%;
}

.search-title-emphasis{
    color: rgba(0, 0, 0, 1);

    font-size: 24px;
    font-weight: 600;
    line-height: 140%;
}

.search-count{
    color: rgba(0, 0, 0, 1);

    font-size: 24px;
    font-weight: 600;
    line-height: 140%;
}

.search-contents-box{
    width: 100%;
    display: flex;
    justify-content: center;
    
    
    
}

.search-contents-nothing{
    height: 310px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: rgba(0, 0, 0, 0.4);

    font-size: 24px;
    font-weight: 500;
    line-height: 140%;
}

.search-contents{
    width: 100%;
    display: flex;
    flex-direction: column;

    gap: 16px;
}

.search-pagination-box{
    margin-top: 60px;
    display: flex;
    justify-content: center;
}